@import "tailwindcss";

@theme {
  --color-jumbo-blue: #0028a3;
  --color-jumbo-red: #d32027;
  --color-jumbo-blue-light: #eaefff;
  --color-jumbo-red-light: #ffeaeb;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}